[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
beautifulsoup4 = "*"
python-telegram-bot = "*"
schedule = "*"
python-dotenv = "*"
sqlalchemy = "*"
psycopg2 = "*"
feedparser = "*"

[requires]
python_version = "3.8"
